button {
    font-family: monospace;
    height: 200px;
    width: 200px;
    margin: 30px;
    background-color: #026C7C;
    color: #F6F7F8;
    font-size: 16px;
    border: 2px solid #F6F7F8;
}
